<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Recognition</title>
    <script>
        
        function startWebcam() {
            const video = document.getElementById("videoElement");

            if (navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(function (stream) {
                        video.srcObject = stream;
                    })
                    .catch(function (error) {
                        console.log("Something went wrong!", error);
                    });
            }
        }

        // Call the face recognition endpoint and update the image
        function recognizeFace() {
            fetch('/recognition/recognize/')
                .then(response => response.json())
                .then(data => {
                    if (data.recognized_faces) {
                        document.getElementById('resultImage').src = 'data:image/jpeg;base64,' + data.image;
                        console.log(data.recognized_faces); 
                    } else {
                        console.log(data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>
</head>
<body onload="startWebcam()">
    <h1>Face Recognition</h1>
    <video id="videoElement" width="640" height="480" autoplay></video>
    <button onclick="recognizeFace()">Recognize Face</button>
    <h3>Recognized Faces:</h3>
    <img id="resultImage" width="640" height="480" />

    
</body>
</html>
